@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";

}

<section class="relative">
    <div class="container py-20">
        <img src="img/Welcome.png" alt="Image" class="h-32 w-32" />
            
        <div class="flex-column flex items-center justify-center bg-slate-900 p-40 shadow-2xl shadow-purple-950">
            <h1 class="display-4 text-wrap text-4xl text-white">Welcome</h1>
            <p class="text-white">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</section>